@import url('https://fonts.googleapis.com/css?family=Lato|Palanquin|Pavanam|Pontano+Sans');



body {
  margin: 0;
  padding: 0;
}

#full-page {
  display: flex;
  flex-direction: column;
}

#main {
  /* learned gradient from https://css-tricks.com/tinted-images-multiple-backgrounds/*/
  background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 10, 28, 1) 100%), url(Optimized-sky.jpg);
  background-size: cover;
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Palanquin', sans-serif;*/
  /*font-family: 'Pavanam', sans-serif;*/
  font-family: 'Pontano Sans', sans-serif;
  color: rgba(255, 255, 255, .95);
}

#footer {
  background-color: rgba(0, 10, 28, 1);
  background-size: cover;
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Palanquin', sans-serif;*/
  /*font-family: 'Pavanam', sans-serif;*/
  font-family: 'Pontano Sans', sans-serif;
  color: rgba(230, 230, 230, .9);
  margin-top: 0;
}

#menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#heading-items {
  margin: .8em;
  margin-left: 1.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#heading-item {
  margin: .2em;
  font-size: 2em;
}

#menu-items {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-right: .5em;
}

.menu-item {
  margin: .8em;
  font-size: 1.1em;
}

#sign-in {
  margin: .8em;
  border: .15em;
  padding: .6em;
  border-style: solid;
  border-color: rgba(250, 250, 250, 1);
  border-radius: .2em;
  font-size: 1.1em;
}

#sign-in:hover {
  box-shadow: .2em .2em .7em rgba(250, 250, 250, .4);
}

#center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

#heading {
  margin-top: 2em;
  font-size: 5em;
  font-weight: bold;
  margin-bottom: .2em;
  text-shadow: .05em .05em .1em rgba(250, 250, 250, .4);
}

#following-head {
  font-size: 2em;
  margin-bottom: .6em;
}

#input {
  background-color: rgba(250, 250, 250, .1);
  padding: 2em;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[name=email] {
  width: 11.4em;
  height: 2.3em;
  padding-left: .5em;
  border: none;
  border-radius: .2em;
  font-size: 1em;
  margin-right: .2em;
}

button[type=create] {
  background-color: rgba(100, 186, 141, 1);
  border: none;
  width: 5em;
  height: 2.4em;
  font-size: 1em;
  border-radius: .2em;
  color: rgba(250, 250, 250, 1);
}

#extra {
  margin-top: .9em;
}

#options {
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

button:hover {
  box-shadow: .3em .3em .2em rgba(0, 0, 0, 1);
  background-color: rgba(100, 176, 131, 1);
}

.group {
  margin: .3em;
}

#more {
  margin-right: .7em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row
}

.info {
  margin: .2em;
}
